body {
  margin: 0;
  padding: 0;
  background: url('Teste-Matheus.jpg') center/cover no-repeat fixed; /* Na url coloquei a imagem */
  font-family: Arial, sans-serif; /* Coloquei a fonte Arial */
}

#login {
  position: relative;
  z-index: 1; /* Deixei os elementos que criamos acima da imagem de fundo */
  max-width: 33%;
  margin: 5em auto 2em; /* Ajuste o valor da margem superior conforme necessário */
  margin-right: 1%; /* Ajuste este valor conforme necessário para a posição horizontal */
  padding: 1.5em 2em;
  background-color: rgba(0, 0, 0, 1.0); /* A última posição é a opacidade */
  color: #fff; /* Cor do texto */
}

#login h2 {
  text-align: center;
  font-size: 2.1em;
  margin-top: 0;
}

.subtitle {
  font-weight: bold;
  color: #999;
  margin-bottom: 1.5em;
}

#login form {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #363636;
}

#login p {
  text-align: center;
}

#login p a {
  font-weight: bold;
  color: #0094f6;
}
